.top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 30px;
}

.profileimg {
  border-radius: 100%;
  height: 50px;
  widows: auto;
  margin-right: 10px;

}

.pngImgs {
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  
}

.pngImgs img {
  margin-right: 20px;
}

.comment {
  margin-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.comment .time {
  color: lightgray;
}

.newComment {
  margin-left: 30px;
  padding: 40px 0;

}